.App {
  text-align: center;
}
.header {
  display: grid;
  grid-template-columns: 25% 25% 30% 20%;
}
.main {
  display: grid;
  grid-template-columns: 20% 80%;
}
.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
