/* header */

.header {
  display: grid;
  grid-template-columns: 25% 25% 30% 20%;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
}

.nomLogoWorld {
  display: flex;
  align-items: center;
}

.nomLogoWorld img.round {
  border-radius: 50%;
  margin-right: 5px;
}

.money {
  font-size: 24px;
  font-weight: bold;
}

/* coulisses */

.coulisses {
  display: flex; /* Affiche les boutons en ligne */
  flex-direction: column; /* Aligne les boutons verticalement */
  align-items: center; /* Centre les boutons horizontalement */
  background: black;
  padding: 30px;
  color : white;
}

.btn_coulisses{
  padding: 10px 15px;
  margin: 5px;
  background-color: darkred;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Transition de couleur en douceur */
}

.btn_coulisses:hover {
  background-color: brown;
}


.test2 {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

/* Style des produits */
.main {
  background-image: url("../public/scene.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px;
}

.partieGauche {
  width: 20%;
  margin-right: 20px;
}

.partieCentrale {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.produit {
  width: 33%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

/*
.productRight{
  border: 1px solid red;
}*/

.progressbar{
  width: 100%;
  height: 15px;
  background-color: #f5f5f5;
  border-radius: 25px;
  overflow: hidden;
}

/*
.partieBasse{
  border: 1px solid blue;
}
*/

.p0:hover, .p1:hover, .p2:hover {
  background-color: #e0e0e0;
}

.modal {
  position: fixed; /* reste en place */
  z-index: 2; /* au dessus du reste */
  width: 800px; /* largeur */
  height: 800px; /* hauteur */
  overflow: auto; /* barre de scroll si besoin */
  background-color: black; /* opaque */
  border: solid;
  top:10%; /* a 10% du haut */
  left:20%; /* a 20% de la gauche */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
