/* structure page */


.main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px;
}

.partieGauche {
  width: 20%;
  margin-right: 20px;
}

.partieCentrale {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}


.p0:hover, .p1:hover, .p2:hover {
  background-color: #e0e0e0;
}

.modal {
  position: fixed; /* reste en place */
  z-index: 2; /* au dessus du reste */
  width: 800px; /* largeur */
  height: 800px; /* hauteur */
  overflow: auto; /* barre de scroll si besoin */
  background-color: white; /* opaque */
  border: solid;
  top:10%; /* a 10% du haut */
  left:20%; /* a 20% de la gauche */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("../public/scene.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.logo{
  width: 40%;
  height: auto;
}
.nomJoueur {
  background-image: url("../public/scene.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

/* header */

.header {
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 2%;

  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-content: space-between;
  align-items: center;
  background-color: #cecece;
  padding: 10px;
  border-radius: 50px;

  position: relative;
}

.nomLogoWorld {
  display: flex;
  align-items: center;
  font-size: x-large;
}

.nomLogoWorld img.round {
  border-radius: 50%;
  margin-right: 5px;
}

.money {
  font-size: 24px;
  font-weight: bold;
}

.qmulti_mediator {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease;
}

.qmulti_mediator img {
  position: absolute;
  top: 50%;
  left: 70%;

  width: 35%;
  height: auto;
  transform: translate(-50%, -50%); /* pour centrer le texte verticalement et horizontalement */

}

.qmulti_mediator:hover{
  transform: scale(1.1);
}

.qmulti_mediator p {
  position: absolute;
  top: 25%;
  left: 70%;
  transform: translate(-50%, -50%); /* pour centrer le texte verticalement et horizontalement */
  color: white;
  text-shadow: 1px 1px black; /* pour ajouter une ombre au texte */
}


/* coulisses */

.coulisses {
  display: flex; /* Affiche les boutons en ligne */
  flex-direction: column; /* Aligne les boutons verticalement */
  align-items: center; /* Centre les boutons horizontalement */
  background: black;
  padding: 30px;
  color : white;
}

.btn_coulisses{
  padding: 10px 15px;
  margin: 5px;
  background-color: darkred;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Transition de couleur en douceur */
}

.btn_coulisses:hover {
  background-color: brown;
}

.test2 {
  background-color: #C8AD7F;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

/* Style des produits */
.case_produit {
  width: 40%;
  margin: 10px;
  margin-bottom: 50px;
  padding: 20px;
  background-color: rgba(194, 53, 51, 0.7);
  border-radius: 50px;
  transition: transform 0.5s ease;
}

.case_produit:hover {
  /* styles appliqués lorsque la div est survolée */
  transform: scale(1.05);
}

.produit_item{
  display: flex;
}

.partieGaucheProduit {
  flex-grow: 1;
  flex-basis: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.partieDroiteProduit{
  flex-grow: 1;
  flex-basis: 67%;
}

.partieHauteProduit{
  position: relative;
  margin-bottom: 50px;
}

.partieBasseProduit{
  display: flex;
}

.btn_acheterProduit {
  flex-grow: 1;
  flex-basis: 67%;
}

.time_left {
  flex-grow: 1;
  flex-basis: 33%;
  background-color: #cecece;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;

  display: flex;
  align-items: center; /* Alignement vertical */
  justify-content: center; /* Alignement horizontal */
}

.btn_produit {
  border: none;
  cursor: pointer;
  border-radius: 1000px;
  background: transparent;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

}

.round_produit {
  width: 100px;
  height: 100px;
  border-radius: 50% ;
  border: 1px solid black;
  background: white;
}

.round_produit:hover {
  background-color: darkred;
}

.round_produit:active{
  background-color: white;
}

.quantite_produit {
  color: white;
  background-color: black;
  border-radius: 20px;
  width: 100px;
  height: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 200%);
  z-index: 2;
}

.progressbar{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 40px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 25px;
  overflow: hidden;
}

.revenu_produit{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 2;
  color: darkred;
}
