.primary{
  color: #095228;
  background-color: #095228;
}
/* structure page */

.main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px;
}

.partieGaucheCoulisses {
  width: 17%;
  margin-right: 20px;
  margin-top: 50px;
  border-radius: 50px;
}

.partieCentrale {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.modal {
  position: fixed; /* reste en place */
  z-index: 3; /* au dessus du reste */
  width: 50%; /* largeur */
  height: 80%; /* hauteur */
  overflow: auto; /* barre de scroll si besoin */
  background-color: rgba(0,0,0); /* opaque */
  border: solid #095228;
  top:10%; /* a 10% du haut */
  left:30%; /* a 20% de la gauche */
  border-radius: 50px;
}

body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("../public/scene.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.logo{
  width: 40%;
  height: auto;
}


/* joueur */
.caseJoueur {
  position: relative;
}

.case_id{
  margin-left: 50px;
  background-color: rgba(0,0,0,0.8);
  width: 12%;
  height: 15%;
  border-radius: 50px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #C8AD7F;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.round_avatar {
  width: 100px;
  height: 100px;
  border-radius: 50% ;
  border: 2px solid black;
  background: none;
}

.id_form{
  margin-top: 2%;
  width: 100%;
  display: flex;
}

.id_player{
  width: 50%;
  text-align: right;
  margin-right: 10px;
}

.input_id{
  width: 50%;
}

/* header */

.header {
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 2%;
  margin-top: 2%;

  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-content: space-between;
  align-items: center;
  background-color: #cecece;
  padding: 10px;
  border-radius: 50px;

  position: relative;
}

.nomLogoWorld {
  display: flex;
  align-items: center;
  font-size: x-large;
}

.nomLogoWorld img.round {
  border-radius: 50%;
  margin-right: 5px;
}

.money {
  font-size: 24px;
  font-weight: bold;
}

.qmulti_mediator {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease;
}

.qmulti_mediator img {
  position: absolute;
  top: 50%;
  left: 70%;

  width: 35%;
  height: auto;
  transform: translate(-50%, -50%); /* pour centrer le texte verticalement et horizontalement */

}

.qmulti_mediator:hover{
  transform: scale(1.1);
}

.qmulti_mediator p {
  position: absolute;
  top: 25%;
  left: 70%;
  transform: translate(-50%, -50%); /* pour centrer le texte verticalement et horizontalement */
  color: white;
  text-shadow: 1px 1px black; /* pour ajouter une ombre au texte */
}


/* coulisses */

.coulisses {
  display: flex; /* Affiche les boutons en ligne */
  flex-direction: column; /* Aligne les boutons verticalement */
  align-items: center; /* Centre les boutons horizontalement */
  background: rgba(0,0,0,0.8);
  padding: 30px;
  color : white;
  border-radius: 50px;
}

.btn_coulisses{
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', sans-serif;
  padding: 10px 15px;
  margin: 5%;
  background-color: darkred;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Transition de couleur en douceur */
}

.btn_coulisses:hover {
  background-color: brown;
}

/* Style des produits */
.case_produit {
  width: 40%;
  margin: 10px;
  margin-bottom: 50px;
  padding: 20px;
  background-color: rgba(194, 53, 51, 0.7);
  border-radius: 50px;
  transition: transform 0.5s ease;
}

.case_produit:hover {
  /* styles appliqués lorsque la div est survolée */
  transform: scale(1.05);
}

.produit_item{
  display: flex;
}

.partieGaucheProduit {
  flex-grow: 1;
  flex-basis: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.partieDroiteProduit{
  flex-grow: 1;
  flex-basis: 67%;
}

.partieHauteProduit{
  position: relative;
  margin-bottom: 50px;
}

.partieBasseProduit{
  display: flex;
}

.btn_acheterProduit {
  flex-grow: 1;
  flex-basis: 67%;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', sans-serif;

  background-color: #C8AD7F;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.time_left {
  flex-grow: 1;
  flex-basis: 33%;
  background-color: #cecece;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;

  display: flex;
  align-items: center; /* Alignement vertical */
  justify-content: center; /* Alignement horizontal */
}

.btn_produit {
  border: none;
  cursor: pointer;
  border-radius: 1000px;
  background: transparent;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

}

.round_produit {
  width: 100px;
  height: 100px;
  border-radius: 50% ;
  border: 1px solid black;
  background: white;
}

.round_produit:hover {
  background-color: darkred;
}

.round_produit:active {
  background-color: white;
}

.quantite_produit {
  color: white;
  background-color: black;
  border-radius: 20px;
  width: 100px;
  height: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 200%);
  z-index: 2;
}

.progressbar{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 40px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 25px;
  overflow: hidden;
}

.revenu_produit{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 2;
  color: darkred;
}

/* managers */

.liste_managers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #C8AD7F;
}

.manager {
  width: 90%;
  height: 100px;
  display: flex;
  margin: 2%;
  position: relative;
}

.manager_logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-250%, -50%);
  z-index: 1;
}

.round_manager {
  width: 100px;
  height: 100px;
  border-radius: 50% ;
  background-color: rgba(0,0,0);
}

.infos_manager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #095228;
  border-radius: 50%;


  position: absolute;
  top: 10%;
  left: 15%;
  width: 70%;
  height: 80px;
}

.managername{
  color: #C8AD7F;
  font-size: x-large;
}

.managercible{
  color: black;
  font-size: small;
}

.managercost{
  color: black;
  font-weight: bold ;
}

.div_acheterManager {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(210%, -50%);
  z-index: 1;
}
.btn_acheterManager{
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', sans-serif;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 10px;
  background-color: #C8AD7F;
}

.btn_acheterManager:hover{
  cursor: pointer;
}

/* unlocks */

.liste_unlocks{
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.unlock {
  height: 220px;
  width: 20%;
  margin: 2%;
  padding: 10px;
  background-color: rgba(9, 82, 40, 0.7);
  border-radius: 50px;

  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.unlock_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  margin-top: 10%;
  margin-bottom: 20%;
}

.round_unlock {
  width: 60%;
}

.unlockname{
  margin-bottom: 15%;
  color: #C8AD7F;
  font-size: large;
}

.infos_unlock {
  display: flex;
  flex-direction: column;
}

.unlockcost{
  color: black;
  font-size: medium;
}

.unlockratio{
  color: black;
  font-weight: bold ;
}

/* allunlocks */

.liste_allunlocks{
  display: inline-block;
  justify-content: center;
  align-items: center;

}

.allunlock {
  height: 220px;
  width: 30%;
  margin: 2%;
  padding: 10px;
  background-color: rgba(9, 82, 40, 0.7);
  border-radius: 50px;

  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.allunlock_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  margin-top: 10%;
  margin-bottom: 20%;
}

.round_allunlock {
  width: 40%;
}

.allunlockname{
  margin-bottom: 20%;
  color: #C8AD7F;
  font-size: large;
}

.infos_allunlock {
  display: flex;
  flex-direction: column;
}

.allunlockcost{
  color: black;
  font-size: medium;
}

.allunlockratio{
  color: black;
  font-weight: bold ;
}

/* Upgrades */
.liste_upgrades{
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.upgrade {
  height: 300px;
  width: 230px;
  margin: 2%;
  padding: 10px;
  background-color: rgba(9, 82, 40, 0.7);
  border-radius: 50px;

  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.upgrade_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  margin: 25px;
}

.round_upgrade {
  width: 60%;
}

.upgradename{
  margin-bottom: 10px;
  color: #C8AD7F;
  font-size: large;
}

.infos_upgrade {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.upgradecost{
  color: black;
  font-size: medium;
}

.upgraderatio{
  color: black;
  font-weight: bold ;
}

.div_acheterUpgrade {
  display: flex;
  justify-content: center;
}
.btn_acheterUpgrade{
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', sans-serif;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 10px;
  background-color: #C8AD7F;
  margin-top: 5%;
}

.btn_acheterUpgrade:hover{
  cursor: pointer;
}